.editable-cell {
    position: relative;
    border-right-color:#000 !important ;
    text-align: center !important;
  }
  
  .editable-cell-value-wrap {
    padding: 5px 12px;
    cursor: pointer;
  }
  
  .editable-row:hover .editable-cell-value-wrap {
    padding: 4px 11px;
    border: 1px solid #d9d9d9;
    border-radius: 2px;
  }
  thead tr th{
     color:#ffffff !important;
    background-color:#2A2727 !important;
    text-align: center !important;
}
table{
    margin-top: 30px;
    margin-bottom:23px;
}
/* table th  {
    border-color: #000 !important;
} */
.ant-table{
    color: #000 !important;
    text-align: center !important;
}
 .ant-table-bordered{
    border-color: #000 !important;
}
.ant-table-tbody{
    text-align: center !important;
    border-color: #000;
}
:where(.css-dev-only-do-not-override-1n7nwfa).ant-table-wrapper .ant-table-pagination {
    display: flex !important;
    flex-wrap: wrap !important;
    row-gap: 8px;
    direction: ltr !important;
}
:where(.css-dev-only-do-not-override-1n7nwfa).ant-table-wrapper .ant-table-pagination.ant-pagination {
    margin: 16px 0;
    direction: ltr !important;
}
:where(.css-dev-only-do-not-override-1n7nwfa).ant-table-wrapper .ant-table.ant-table-bordered >.ant-table-container >.ant-table-content >table >tbody>tr>td{
    border-right: 1px solid #000 !important;
    box-shadow: 0px 3px 8px #d7d4d4;
}
tbody .ant-table-cell{
    border-right-color: #000 !important;
    text-align: center !important;
    font-size: 18px !important;
    color: black !important;
}
.ant-table-cell{
    text-align: center !important;
    
}
.editable-row{
    margin-top: 20px;
}
.editable-row td {
    /* border: 1px solid #000; */
    border-right-color: #000 !important;
  }
  :where(.css-dev-only-do-not-override-1n7nwfa).ant-table-wrapper .ant-table.ant-table-bordered >.ant-table-container >.ant-table-content >table >tbody>tr>td:first-child {
 border-right: none !important;   
 text-align: center!important;
 font-size: 18px !important;
 color: black !important;
 }
 
 /* td:last-child {
   border-top-left-radius: 10px;
   border-bottom-left-radius: 10px;
   
  } */
  :where(.css-dev-only-do-not-override-1n7nwfa).ant-table-wrapper .ant-table-summary {
    position: relative;
    z-index: 2;
    background: #ffffff;
    box-shadow: 0px 3px 8px #d7d4d4;
}
:where(.css-dev-only-do-not-override-1n7nwfa).ant-table-wrapper .ant-table-summary .ant-table-cell{
    box-shadow: 0px 3px 8px #d7d4d4;
    border-right: 1px solid #000 !important;
}
:where(.css-dev-only-do-not-override-1n7nwfa).ant-table-wrapper .ant-table-summary .ant-table-cell:first-child{
    border-right: none !important;
 

}
.ref{
    transition: ease .35s;
    -webkit-transition: ease .35s;
    -moz-transition: ease .35s;
    -ms-transition: ease .35s;
    -o-transition: ease .35s;
}
.refrance{
    display: none;
    transition: display ease .35s;
    -webkit-transition: display ease .35s;
    -moz-transition: display ease .35s;
    -ms-transition: display ease .35s;
    -o-transition: display ease .35s;
}
.ref:hover .refrance{
    display: flex;

}
/* .tableCopy :where(.css-dev-only-do-not-override-1n7nwfa).ant-table-wrapper .ant-table.ant-table-bordered >.ant-table-container >.ant-table-content >table >tbody>tr>td{
    border: 1px solid #000;
} */