@import url("https://fonts.googleapis.com/css2?family=Tajawal:wght@200;300;400;500;700;800;900&display=swap");

* {
  box-sizing: border-box;
  font-family: "Tajawal", sans-serif;
  /* scrollbar-width: 6px; */
  /* overflow: hidden; */
}
.App {
  text-align: center;
  direction: rtl !important
}

.ant-menu-submenu-title .ant-menu-title-content:hover,
.ant-menu-item-only-child .ant-menu-title-content:hover {
  color: white ;
  } /* make navbar titles not disappear onhover */
  .ant-menu-overflow-item:hover .ant-menu-title-content {
    color: white ;
  }
  .ant-menu-submenu-open::after,  .ant-menu-item-active::after{
    border-bottom: 2px solid white !important;
}

.ant-table-wrapper .ant-table-thead >tr>th, .ant-table-cell{
  text-align: center;

}

 .ant-table-container{
  box-shadow: 1px 1px 2px 2px rgba(151, 151, 151, 0.2);
} 
.ant-table-cell::before {
  display: none;
}
.ant-table-wrapper .ant-table-thead >tr>th {
  background-color: rgb(66, 65, 65);

  color: white;
}

.ant-table-container table>thead>tr:first-child >*:first-child
 {
  border-start-start-radius:unset !important;
}
.ant-table-container table>thead>tr:first-child >*:last-child {
  border-start-end-radius:unset !important;
}

.ant-table-content table {
  margin: unset !important;
}
.tableDiv .ant-table-wrapper  table{  /**border top to showBillsTable in clientsAccounting page**/
  border-top: 1px solid black !important;
  }
  .tableDiv .ant-table-wrapper  .ant-table-title{  /**border top to showBillsTable in clientsAccounting page**/
   height: 50px;
   background-color: #2A2727;
   color: white;
   font-weight: bold;
   font-size: 16px;
   border-left: 1px solid black !important;
   display: flex;
   justify-content: center;
   align-items: center;

    }
    .ant-table-wrapper table, .ant-table-wrapper .ant-table .ant-table-title {
      border-radius: unset !important;
    }
/** edit ant table margin **/

/** ant card ***/
/* .ant-card {
  width: 20% !important;
} */
.ant-card .ant-card-head {
  padding: 0em 1em;
  border-bottom: 1px solid lightgray;
}
/******/

.ant-menu-title-content {
  line-height: 20px;   /** edit hight of navbar items submenu li to center text of li vertically**/
}


/****   ant modal styles   ****/
.ant-modal {
  width: 50% !important;
}
.ant-modal .ant-modal-content {
  padding:unset;

}
.ant-modal .ant-modal-title {
  color: white;
}
.ant-modal .ant-modal-content .ant-modal-header {
  background-color: #2A2727;
  padding: 1em;

}
.ant-modal .ant-modal-content .ant-modal-body
 {
  padding: 1em;
}
.ant-modal .ant-modal-content .ant-modal-footer {
  padding: 1em 1.8em;
}
/****   end of ant modal styles   ****/
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
 .logo {
  height: 32px;
  margin: 19px;

}
.ant-layout .ant-layout-sider {
  position: relative !important;
  background: #2A2727 !important;
  transition: all 0.2s !important;
  -webkit-transition: all 0.2s !important;
  -moz-transition: all 0.2s !important;
  -ms-transition: all 0.2s !important;
  -o-transition: all 0.2s !important;
}
.ant-menu-dark {
  color: rgba(255, 255, 255) ;
  background: #2A2727;
  font-size: 17px;
}
.ant-menu-dark.ant-menu-inline .ant-menu-sub.ant-menu-inline {
  background: #2A2727;
}
:where(.css-dev-only-do-not-override-1n7nwfa).ant-menu-dark.ant-menu-inline .ant-menu-item , :where(.css-1n7nwfa).ant-menu-dark.ant-menu-inline .ant-menu-item {
  position: relative;
  font-size: 17px;
}
:where(.css-dev-only-do-not-override-1n7nwfa).ant-menu .ant-menu-submenu, :where(.css-dev-only-do-not-override-1n7nwfa).ant-menu .ant-menu-submenu-inline ,:where(.css-1n7nwfa).ant-menu .ant-menu-submenu, :where(.css-1n7nwfa).ant-menu .ant-menu-submenu-inline {
  font-size: '20px !important';
}
:where(.css-dev-only-do-not-override-1n7nwfa).ant-menu-dark .ant-menu-item-selected, :where(.css-1n7nwfa).ant-menu-dark .ant-menu-item-selected{
  background-color: #4e4e4e;
}
:where(.css-dev-only-do-not-override-1n7nwfa).ant-menu-dark.ant-menu-submenu>.ant-menu , :where(.css-1n7nwfa).ant-menu-dark.ant-menu-submenu>.ant-menu {
  background-color: #2A2727;
}
:where(.css-dev-only-do-not-override-1n7nwfa).ant-menu .ant-menu-item .ant-menu-item-icon , :where(.css-1n7nwfa).ant-menu .ant-menu-item .ant-menu-item-icon{
  font-size: 22px;
}
:where(.css-dev-only-do-not-override-1n7nwfa).ant-menu .ant-menu-submenu-title .ant-menu-item-icon , :where(.css-1n7nwfa).ant-menu .ant-menu-submenu-title .ant-menu-item-icon{
  font-size: 22px;

}
/* :where(.css-dev-only-do-not-override-1n7nwfa).ant-menu-inline.ant-menu-root .ant-menu-item >.ant-menu-title-content{
  margin-right:13px;
} */
/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  .ant-menu-item-selected {
    color: white !important;
  }
}
:where(.css-dev-only-do-not-override-1n7nwfa).ant-table-wrapper .ant-table-pagination.ant-pagination {
  margin: 16px 0;
  direction: ltr !important;
}
/* :where(.css-dev-only-do-not-override-1n7nwfa).ant-table-wrapper .ant-table.ant-table-bordered >.ant-table-container >.ant-table-content >table >tbody>tr>td{
  border: 1px solid #000 !important;
} */
/* :where(.css-dev-only-do-not-override-1n7nwfa).ant-table-wrapper .ant-table.ant-table-bordered >.ant-table-container >.ant-table-content >table >tbody>tr>td {
  border-right: 1px solid #000 !important;
} */
/* .ant-table .ant-table-bordered{
  border-color: #000 !important;
} */
/* td.ant-table-cell{
  text-align: center !important;
  border-right-color: #000 !important;
  font-size: 18px;

} */
/* .ant-table .ant-table-bordered .td{
border-color: #000;
} */
 /* td:first-child {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  box-shadow: none;
 } */

 /* td:last-child {
   border-top-left-radius: 10px;
   border-bottom-left-radius: 10px;

  } */
  /* .ant-table-tbody tr td {
    border-right-color: #000 !important;
    color: #000 !important;

  } */
  .ant-layout-sider .ant-layout-sider-dark .Sidebar_sidebar__X9i0q{
    height: inherit;
  }
  /* .ant-layout-sider .ant-layout.css-dev-only-do-not-override-1n7nwfa {
    position: absolute  ;
  } */
  :where(.css-dev-only-do-not-override-1n7nwfa).ant-menu-dark:not(.ant-menu-horizontal) .ant-menu-item:not(.ant-menu-item-selected):active,:where(.css-1n7nwfa).ant-menu-dark:not(.ant-menu-horizontal) .ant-menu-item:not(.ant-menu-item-selected):active {
    background-color: #4e4e4e !important;
}
:where(.css-dev-only-do-not-override-1n7nwfa).ant-menu-inline.ant-menu-root .ant-menu-item >.ant-menu-title-content,
:where(.css-1n7nwfa).ant-menu-inline.ant-menu-root .ant-menu-item >.ant-menu-title-content
{
  flex: auto;
  min-width: 0;
  overflow:initial;
  text-overflow: ellipsis;
}
:where(.css-dev-only-do-not-override-1n7nwfa).ant-select-multiple.ant-select-lg .ant-select-selector ,
:where(.css-1n7nwfa).ant-select-multiple.ant-select-lg .ant-select-selector 

{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 1px 4px;
  border-radius: 5px !important;
  border-color: rgba(0, 0, 0, 0.23) !important;
  -webkit-border-radius: 5px !important;
  -moz-border-radius: 5px !important;
  -ms-border-radius: 5px !important;
  -o-border-radius: 5px !important;
}
.muirtl-14s5rfu-MuiFormLabel-root-MuiInputLabel-root {
  color: rgba(0, 0, 0, 0.6);
  font-family: "Tajawal" !important;
  font-weight: 400;
  font-size: 18px !important;
  line-height: normal !important;
  letter-spacing: 0.00938em;
  padding: 0;
  margin-top: -7px;
  display: block;
  transform-origin: top right;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: calc(100% - 24px);
  position: absolute;
  right: 0;
  top: 0;
  -webkit-transform: translate(-14px, 16px) scale(1);
  -moz-transform: translate(-14px, 16px) scale(1);
  -ms-transform: translate(-14px, 16px) scale(1);
  transform: translate(-14px, 16px) scale(1);
  -webkit-transition: color 200ms cubic-bezier(0.0, 0, 0.2, 1) 0ms,-webkit-transform 200ms cubic-bezier(0.0, 0, 0.2, 1) 0ms,max-width 200ms cubic-bezier(0.0, 0, 0.2, 1) 0ms;
  transition: color 200ms cubic-bezier(0.0, 0, 0.2, 1) 0ms,transform 200ms cubic-bezier(0.0, 0, 0.2, 1) 0ms,max-width 200ms cubic-bezier(0.0, 0, 0.2, 1) 0ms;
  z-index: 1;
  pointer-events: none;
}

.menu-item .muirtl-6hp17o-MuiList-root-MuiMenu-list {
  list-style: none;
  margin: 0;
  padding: 0;
  position: relative;
  padding-top: 8px;
  padding-bottom: 8px;
  outline: 0;
  display: grid !important;
  grid-template-columns: auto auto !important;
}
.muirtl-o9k5xi-MuiInputBase-root-MuiOutlinedInput-root {
  font-family: "Roboto","Helvetica","Arial",sans-serif;
  font-weight: 400;
  font-size: 18px !important;
  line-height: 1.4375em;
  letter-spacing: 0.00938em;
  align-items:center !important;
  color: rgba(0, 0, 0, 0.87);
  box-sizing: border-box;
  position: relative;
  cursor: text;
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
  border-radius: 4px;
  padding-left: 14px;
}