body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  direction: rtl;
  padding: 0;
  
}
::-webkit-scrollbar{
  width: 6px;
  scrollbar-width: thin;  
  border-radius: 15px;
  background-color: transparent;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}
/* ::-webkit-scrollbar-track {
  position: absolute;
  background-color: #eee;
} */
::-webkit-scrollbar-thumb{
  background: #7a7a7a;
  
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.muirtl-1pysi21-MuiFormLabel-root-MuiInputLabel-root {
  font-family: 'Tajawal' !important;
  /* font-size: 18px !important; */
}
.muirtl-cktaik {
  font-family: 'Tajawal' !important;
}